{% csrf_token %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>
    <link rel="apple-touch-icon" href="{% static 'logo192.png' %}"/>
    <link rel="manifest" href="{% static '/manifest.json' %}"/>
    <title>React App</title>
    <link href="{% static '/static/css/main.1be7bde0.chunk.css' %}" rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script>!function (a) {
    function e(e) {
        for (var r, t, n = e[0], o = e[1], u = e[2], p = 0, l = []; p < n.length; p++) t = n[p], Object.prototype.hasOwnProperty.call(i, t) && i[t] && l.push(i[t][0]), i[t] = 0;
        for (r in o) Object.prototype.hasOwnProperty.call(o, r) && (a[r] = o[r]);
        for (s && s(e); l.length;) l.shift()();
        return c.push.apply(c, u || []), f()
    }

    function f() {
        for (var e, r = 0; r < c.length; r++) {
            for (var t = c[r], n = !0, o = 1; o < t.length; o++) {
                var u = t[o];
                0 !== i[u] && (n = !1)
            }
            n && (c.splice(r--, 1), e = p(p.s = t[0]))
        }
        return e
    }

    var t = {}, i = {1: 0}, c = [];

    function p(e) {
        if (t[e]) return t[e].exports;
        var r = t[e] = {i: e, l: !1, exports: {}};
        return a[e].call(r.exports, r, r.exports, p), r.l = !0, r.exports
    }

    p.m = a, p.c = t, p.d = function (e, r, t) {
        p.o(e, r) || Object.defineProperty(e, r, {enumerable: !0, get: t})
    }, p.r = function (e) {
        "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(e, "__esModule", {value: !0})
    }, p.t = function (r, e) {
        if (1 & e && (r = p(r)), 8 & e) return r;
        if (4 & e && "object" == typeof r && r && r.__esModule) return r;
        var t = Object.create(null);
        if (p.r(t), Object.defineProperty(t, "default", {
            enumerable: !0,
            value: r
        }), 2 & e && "string" != typeof r) for (var n in r) p.d(t, n, function (e) {
            return r[e]
        }.bind(null, n));
        return t
    }, p.n = function (e) {
        var r = e && e.__esModule ? function () {
            return e.default
        } : function () {
            return e
        };
        return p.d(r, "a", r), r
    }, p.o = function (e, r) {
        return Object.prototype.hasOwnProperty.call(e, r)
    }, p.p = "/";
    var r = window["webpackJsonpmy-app"] = window["webpackJsonpmy-app"] || [], n = r.push.bind(r);
    r.push = e, r = r.slice();
    for (var o = 0; o < r.length; o++) e(r[o]);
    var s = n;
    f()
}([])</script>
<script src="{% static '/static/js/2.e341ad66.chunk.js' %}"></script>
<script src="{% static '/static/js/main.df934126.chunk.js' %}"></script>
</body>
</html>